// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

//------GENERAL SETTINGS -------------------------------

// Universal reset also explicitly to all pseudo-elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section,
header {
  padding: 0;
  margin: 0;
}

// Define color variables
$colors: (
  //--------PRIMARY-----------------------------------
  'light-pink': hsl(275, 100%, 97%),
  'grayish-purple': hsl(292, 16%, 49%),
  'dark-purple': hsl(292, 42%, 14%),
  //--------NEUTRAL    ----------------------------
  //--------STANDARD -----------------------------------
  'white': hsl(0, 0%, 100%),
  'grey': hsl(0, 0%, 50%),
  'black': hsl(0, 0%, 0%),
  'pale-blue': hsl(221, 100%, 96%),
  'light-lavender': hsl(241, 100%, 89%),
  'dark-gray-blue': hsl(224, 30%, 27%)
);

// Function to retrieve colors
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Typography Mixin with parameters
@mixin typography($weight, $size, $line-height, $color) {
  font-family: 'Work Sans', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

/* QUERY FOR MOBILE FIRST */
html,
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: color('grayish-purple');
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  //background-color: aqua;
}

.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  position: relative;
  flex-direction: column;
  //margin-bottom: 2rem;
  //justify-content:center;
  //background-color: burlywood;
  &__topPart {
    width: 100%;
    height: 20rem;
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-size: cover;
    //background-color: aquamarine;
  }
  &__bottomPart {
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
    background-color: color('grayish-purple');
    //background-color: red;
  }
}

.whiteCard {
  margin-top: 8rem;
  width: 90%;
  min-height: auto; /* Use min-height to accommodate varying content sizes */
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: color('white');
  //background-color: chocolate;
  &__header {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    @include typography(500, 1.8rem, 0.5, color('white'));
    margin-top: 1rem;
    padding: 0.5rem;
    //background-color: aqua; // for testing purposes
    img {
      margin-right: 2rem;
    }
    h1 {
      @include typography(800, 3rem, 1.5, color('black'));
    }
  }
}

.accordion-grp {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  //background-color: chartreuse;

  &__accordion {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    text-align: left;
    border: none;
    outline: none;
    margin-top: 1rem;
    padding: 1rem;

    background-color: color('light-lavender');
    transition: background-color 0.2s ease;

    &:hover {
      background-color: color('light-pink');
    }

    &.active {
      background-color: color('light-pink');

      &:after {
        content: url(../assets/images/icon-minus.svg);
      }
    }

    &:after {
      content: url(../assets/images/icon-plus.svg);
      font-size: 13px;
      color: #777;
      float: right;
      margin-left: 5px;
    }
  }

  &__panel {
    padding: 0 18px;
    background-color: color('dark-purple');
    max-height: 0;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    transition: max-height 0.2s ease-out;
    @include typography(400, 1rem, 1.5rem, color('white'));
    // Reset margins for text elements inside the panel
    p {
      margin: 1rem;
    }
  }
}

/*why overflow: hidden is used:
Smooth Transition: When combined with max-height, it helps create a smooth transition effect when expanding or collapsing the panel. The max-height is animated from 0 to a desired value, and overflow: hidden ensures that content doesn't spill out during the animation.
Prevent Scrollbars: It prevents scrollbars from appearing when the panel is in its collapsed state, which would otherwise happen if the content overflows the container.*/
// ------- MAGIC ----------------------------

//------ FOOTER ----------------

.attribution {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: color('white');
  margin-bottom: 4rem;
  //background-color: darkgoldenrod;
  a {
    color: color('black');
    text-decoration: none;
  }
}

//------ MEDIA QUERY FOR DESKTOPS AND TABLETS ----------------

/* Media Query for Desktops and Tablets */
@media (min-width: 768px) {
  .main {
    padding: 10rem;
  }

  .container {
    width: 50hv;
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .whiteCard {
    width: 70%;
  }
}

/////// -------- NOTES --------------------//////////
